#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#caixadetexto {
    width: 400px;
    height: 80px;
    font-size: 32px;
    padding: 10px;
    margin-bottom: 20px;
    border: 4px solid #dddd19;
    border-radius: 10px;
}

.alterado {
    background-color: rgb(152, 14, 232);
    color: white;
    font-weight: bold;
    border-color: blue;
}